*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.game{
    height: 100vh;
    background-color: #eee;
}

.game .name
{
    width: 100%;
    background-color: rgb(64, 155, 240);
    padding:20px;
    color: white;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

.containar 
{
    width: 60%;
    margin: 20px auto;
    text-align: center;
    background-color: black;
    color: white;
    padding: 15px;
    font-size: 20px;
    font-weight: bolder;
    margin-top: 4px;
    border: 3px solid rgb(64, 155, 240);

} 
 .containar   , .seconds::before{
    content: "[";
 }

 .containar  ,.seconds::after{
    content: "]";
 }

 
 .containar   , .lvl::before{
    content: "[";
 }

 .containar  ,.lvl::after{
    content: "]";
 }

 /*------------------------------------------------------*/

 .start button{
    width: 50%;
    margin-left:24%;
    padding: 8px;
    color: white;
    margin-top: 6px;
    cursor: pointer;
    user-select: none;
    background-color: rgb(17, 108, 113);
    font-size: 15px;
    font-weight: bold;
 }

 /*----------------------------------------------------*/

 .the_word {
    width: 100%;
    padding: 15px;
    background-color: rgba(16, 16, 16, 0.528);
    margin-top: 10px;
  
 }
 .the_word div{
   color: white;
   text-align: center;
   font-size:20px ;
   font-weight: bold;
   user-select: none;
 }

 .input{
    width: 60%;
    margin-left:305px;
    padding: 15px;
    outline: none;
    margin-top:20px ;
    border: 4px solid rgb(64, 155, 240);
 }


 .upcoming_word
 {
    padding: 20px;
    background-color: white;
    width: 60%;
    margin:20px auto;
    color: white;
    margin-top: 16px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;

 }

 .upcoming_word div{
    background-color: rgb(64, 155, 240);
    width: fit-content;
    font-size: 20px;
    padding:10px;
    border-radius: 5px;
    font-weight: bold;
    margin: 10px;
 }


 .control{
    width: 60%;
    margin: 20px auto;
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    justify-content: space-between;
    color: black;
    font-size: 20px;
    font-weight: bold;
 }


 .finish{
   width: 20%;
   margin: 20px auto;
   margin-top: 70px;
   color: red;
   text-transform: uppercase;
   font-size: 40px;
   font-weight: bold;
   background-color: rgba(16, 16, 16, 0.528);
   border-radius: 20px;
   text-align: center;
   transition: 1s;
 }

 